USE [NFeDBItum]
GO
/****** Object:  StoredProcedure [dbo].[STP_SINCRONIZA]    Script Date: 1/1/2026 5:33:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [dbo].[STP_SINCRONIZA]
	@IdExterno INT,
	@AMBIENTE INT = 1
AS

DECLARE @NOVO_ID INT

insert into NFe
(IdEmitente
      ,Ambiente
      ,cDV
      ,ide_cUF
      ,ide_natOp
      ,ide_indPag
      ,ide_mode
      ,ide_serie
      ,ide_nNF
      ,ide_dEmi
      ,ide_dSaiEnt
      ,ide_tpNF
      ,ide_cMunFG
      ,ide_tpImp
      ,ide_finNFe
      ,ide_tpEmis
      ,ide_procEmi
      ,ide_verProc
      ,ide_NFref
      ,ide_CondPagDesc
      ,ide_indFinal
      ,ide_indPres
      ,ide_cNF
      ,dest_CNPJ
      ,dest_CPF
      ,dest_xNome
      ,dest_xFant
      ,dest_xlgr
      ,dest_nro
      ,dest_xCpl
      ,dest_xBairro
      ,dest_cMun
      ,dest_xMun
      ,dest_UF
      ,dest_CEP
      ,dest_cPais
      ,dest_xPais
      ,dest_fone
      ,dest_IE
      ,dest_IESUF
      ,dest_email
      ,dest_indIEDest
      ,dest_IdExtrangeiro
      ,tot_vBC
      ,tot_vICMS
      ,tot_vBCST
      ,tot_vST
      ,tot_vProd
      ,tot_vFrete
      ,tot_vSeg
      ,tot_vDesc
      ,tot_vII
      ,tot_vIPI
      ,tot_vPIS
      ,tot_vCOFINS
      ,tot_vOutro
      ,tot_vNF
      ,tot_vTotTrib
      ,tot_vICMSDeson
      ,tot_vICMSUFDest_Opc
      ,tot_vICMSUFRemet
      ,tot_vFCPUFDest
      ,tot_vFCP
      ,tot_vFCPST
      ,tot_vFCPSTRet
      ,tot_vIPIDevol
      ,tra_modFrete
      ,tra_CNPJ
      ,tra_CPF
      ,tra_xNome
      ,tra_IE
      ,tra_xEnder
      ,tra_xMun
      ,tra_UF
      ,Recibo
      ,Protocolo
      ,DtAutorizacao
      ,MsgRetorno
      ,NFeStatus
      ,DtCancelamento
      ,Justificativa
      ,ChaveAut
      ,ProtocoloCancelamento
      ,veic_Placa
      ,veic_UF
      ,veic_RNTC
      ,vol_qVol
      ,vol_esp
      ,vol_Marca
      ,vol_nVol
      ,vol_pesoL
      ,vol_pesoB
      ,vol_lacres
      ,infAdic
	  ,IdExterno
	  ,pag_tPag
	  ,pag_vPag) 
SELECT 
      1
      ,@AMBIENTE
      ,NULL
      ,ide_cUF
      ,ide_natOp
      ,ide_indPag
      ,ide_mode
      ,ide_serie
      ,ide_nNF
      ,ide_dEmi
      ,ide_dSaiEnt
      ,ide_tpNF
      ,ide_cMunFG
      ,ide_tpImp
      ,ide_finNFe
      ,ide_tpEmis
      ,ide_procEmi
      ,ide_verProc
      ,ide_NFref
      ,ide_CondPagDesc
      ,0
      ,9
      ,c.CNF
      ,CASE WHEN TP_PESSOA = 'J' THEN REPLACE(dest_CNPJ, '.', '') ELSE '' END
      ,CASE WHEN TP_PESSOA = 'F' THEN REPLACE(dest_CNPJ, '.', '') ELSE '' END
      ,dest_xNome
      ,dest_xFant
      ,dest_xlgr
      ,dest_nro
      ,dest_xCpl
      ,dest_xBairro
      ,dest_cMun
      ,dest_xMun
      ,dest_UF
      ,dest_CEP
      ,dest_cPais
      ,dest_xPais
      ,dest_fone
      ,dest_IE
      ,dest_IESUF
      ,dest_email
      ,indIEDest
      ,NULL
      ,tot_vBC
      ,tot_vICMS
      ,tot_vBCST
      ,tot_vST
      ,tot_vProd
      ,tot_vFrete
      ,tot_vSeg
      ,tot_vDesc
      ,tot_vII
      ,tot_vIPI
      ,tot_vPIS
      ,tot_vCOFINS
      ,tot_vOutro
      ,tot_vNF
      ,0
      ,0
      ,0
      ,0
      ,0
      ,0
      ,0
      ,0
      ,0
      ,tra_modFrete
      ,tra_CNPJ
      ,tra_CPF
      ,tra_xNome
      ,tra_IE
      ,tra_xEnder
      ,tra_xMun
      ,tra_UF
      ,NULL
      ,NULL
      ,NULL
      ,NULL
      ,'Digitação'
      ,NULL
      ,NULL
      ,NULL
      ,NULL
      ,veic_Placa
      ,veic_UF
      ,veic_RNTC
      ,vol_qVol
      ,vol_esp
      ,vol_Marca
      ,vol_nVol
      ,vol_pesoL
      ,vol_pesoB
      ,vol_lacres
      ,NBF_ITUM.dbo.fnGetObs(I.NFI_CODI)
	  ,@IdExterno
	  ,'90'
	  ,0
FROM NBF_ITUM..vwIdentificador I
LEFT JOIN NBF_ITUM..vwDestinatario D ON I.NFI_CODI = D.NFI_CODI
LEFT JOIN NBF_ITUM..vwTotais T ON I.NFI_CODI = T.NFI_CODI
LEFT JOIN NBF_ITUM..vwTransportador V on i.NFI_CODI = V.CodigoNF
LEFT JOIN NBF_ITUM..NFE_Transmissao S ON S.NFI_CODI = I.NFI_CODI
LEFT JOIN NBF_ITUM..NFE_CHAVE C ON C.NFI_CODI = I.NFI_CODI
WHERE I.NFI_CODI = @IdExterno

SELECT @NOVO_ID = @@IDENTITY

INSERT INTO NFeProduto
(IdNFe
      ,cProd
      ,cEAN
      ,xProd
      ,NCM
      ,CEST
      ,CFOP
      ,uCom
      ,qCom
      ,vUnCom
      ,vProd
      ,cEANTrib
      ,uTrib
      ,qTrib
      ,vUnTrib
      ,vOutro
      ,indTot
      ,xPed
      ,ICMS_origem
      ,ICMS_CST
      ,ICMS_modBC
      ,ICMS_redBC
      ,ICMS_vBC
      ,ICMS_pICMS
      ,ICMS_vICMS
      ,ICMS_modBCST
      ,ICMS_pMVAST
      ,ICMS_pRedBCST
      ,ICMS_vBCST
      ,ICMS_pST
      ,ICMS_vST
      ,ICMS_vBCSTRet
      ,ICMS_vICMSSTRet
      ,ICMS_pCredSN
      ,ICMS_vCredICMSSN
      ,IPI_CST
      ,IPI_Enq
      ,IPI_pIpi
      ,IPI_vIPI
      ,PIS_CST
      ,PIS_pPis
      ,PIS_vPis
      ,COFINS_CST
      ,COFINS_pCofins
      ,COFINS_vCofins
      ,infAdic
      ,vFrete
      ,vSeg
      ,vDesc
      ,IPI_vBC
      ,PIS_vBC
      ,COFINS_vBC
      ,pis_qBCProd
      ,pis_vAliqProd
      ,cofins_qBCProd
      ,cofins_vAliqProd
      ,ipi_CNPJProd
      ,ipi_cSelo
      ,ipi_qSelo
      ,ipi_clEnq
      ,ipi_qUnid
      ,ipi_vUnid
      ,IdExternoItem
      ,ibscbs_cst
      ,ibscbs_cClassTrib)
 


SELECT @NOVO_ID
      ,Prod_cProd
      ,CASE WHEN Prod_cEAN IS NULL OR Prod_cEAN = '' THEN 'SEM GTIN' ELSE Prod_cEAN END AS Prod_cEAN
      ,Prod_xProd
      ,Prod_NCM
      ,NULL--CEST
      ,Prod_CFOP
      ,Prod_uCom
      ,Prod_qCom
      ,Prod_vUnCom
      ,Prod_vProd
      ,CASE WHEN Prod_cEANTrib IS NULL OR Prod_cEANTrib = '' THEN 'SEM GTIN' ELSE Prod_cEANTrib END AS Prod_cEANTrib
      ,Prod_uTrib
      ,Prod_qTrib
      ,Prod_vUnTrib
      ,0
      ,1
      ,''
      ,ICMS_orig
      ,ICMS_CST
      ,ICMS_modBC
      ,0
      ,ICMS_vBC
      ,ICMS_pICMS
      ,ICMS_vICMS
      ,NULL
      ,ICMS_pMVAST
      ,ICMS_pRedBCST
      ,0
      ,0
      ,0
      ,0
      ,0
      ,0
      ,0
      ,IPI_CST
      ,ipi_cEnq
      ,IPI_pIpi
      ,IPI_vIPI
      ,PIS_CST
      ,PIS_pPis
      ,PIS_vPis
      ,COFINS_CST
      ,COFINS_pCofins
      ,COFINS_vCofins
      ,''
      ,Prod_vFrete
      ,Prod_vSeguro
      ,prod_Vdesc
      ,IPI_vBC
      ,PIS_vBC
      ,COFINS_vBC
      ,pis_qBCProd
      ,pis_vAliqProd
      ,cofins_qBCProd
      ,cofins_vAliqProd
      ,ipi_CNPJProd
      ,ipi_cSelo
      ,ipi_qSelo
      ,ipi_clEnq
      ,ipi_qUnid
      ,ipi_vUnid
      ,IdExternoItem,
      CBS_SituacaoTributariaId,
      CBS_ClassificacaoTributariaId
  FROM NBF_ITUM..vwProduto
  where NFI_CODI = @IDEXTERNO
  AND IdExternoItem IN (
	SELECT IdExternoItem FROM NFePK WHERE IdExterno = @IdExterno
  )

--adiciona os emails
INSERT INTO NFeEmail(IdNFe, email)
VALUES(@NOVO_ID, NBF_ITUM.dbo.fnGetEmails(@IDEXTERNO))


--TRATA O CODIGO DE BENEFICIO FISCAL

UPDATE NFeProduto SET cBenf = (
SELECT TOP 1 F.CodigoBeneficioFiscal
FROM NBF_ITUM.dbo.NF N 
INNER JOIN NBF_ITUM.dbo.FATURAMENTO F ON N.CFA_ID = F.CFA_ID
WHERE N.NFI_CODI = @IdExterno
)
WHERE IdNFe = @NOVO_ID

--consolida produtos para nao ter produtos que não fazem parte da nota
--DECLARE @CFOP VARCHAR(1)

--SELECT @CFOP = CASE WHEN CAST(ide_cUF AS VARCHAR) <> SUBSTRING(CAST(dest_cMun AS VARCHAR), 1, 2) THEN '6' ELSE '5' END
--FROM NFeDBAssinantes..NFE WHERE IdNFe = @NOVO_ID


--delete from NFeProduto
--where IdNFe = @NOVO_ID
--and (cProd not in (
--	SELECT A.Prod_cProd collate Latin1_General_CI_AI FROM sao_roque..vwProduto A
--	WHERE NFI_CODI = @IdExterno ) 
--OR  SUBSTRING(CFOP, 1, 1) <> @CFOP)

